body{
    margin: 0 auto;
}
.titulo {
  color: aliceblue;
  position: absolute;
  margin-left: 25px;
}
nav {
  background-color: black;
  height: 60px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: right;
  height: 100%
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 100%;
}

nav li a:hover {
  background-color: gray;
}
